{% extends "base.html" %}

{% block contenidos%}
<div class="row justify-content-center mt-5">
    <div class="col-md-8">
        <h2>Acerca de mi</h2>
        <p style="font-size: 20px">Hola soy un estudiante que no sabe de programacion, me gusta jugar videojuegos salir con mis amigos y tambien
            me gusta un poco la escuela la comida y la musica, escucho corridos tumbados y musica variada
            aunque aveces me aburro un poco en la escuela, espero aprender mucho en esta clase y poder hacer cosas interesantes con la
            programacion la verdad aun no pienso en que ser en el futuro
        </p>
        <h3>Alumno:Reyes Perez Giovanni Azael</h3>
        <h3>Grado y Grupo: 3-D</h3>
    </div>
</div>
{% endblock %}