{% extends "base.html" %}

{% block contenidos %}
{% with mensajes = get_flashed_messages(with_categories=true) %}
{% if mensajes %}
{% for categoria, mensaje in mensajes %}
<div class="alert alert-{{ 'danger' if categoria == 'error' else categoria }} alert-dismissible fade show" role="alert">
    {{ mensaje }}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}


<main class="container-fluid my-5">
    <div class="row">

        <div class="col-md-6 mx-auto">
            <div class="text-center mb-5">
                <h1 class="text-primary display-4 fw-bold">Facebook</h1>
                <h2 class="fs-5">
                    Facebook te ayuda a comunicarte y compartir con las personas que forman parte de tu vida.
                </h2>
            </div>
        </div>


        <div class="col-md-6 mx-auto">
            <form action="{{ url_for('Validalogin') }}" method="post">

                <div class="mb-3">
                    <input type="email" name="email" class="form-control" placeholder="Correo electrónico" required>
                </div>


                <div class="mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
                </div>

                <div class="text-center mb-3">
                    <button type="submit" class="btn btn-success w-100">Iniciar sesión</button>
                </div>

                <div class="text-center mb-3">
                    <a href="#" class="text-decoration-none small">¿Olvidaste tu contraseña?</a>
                </div>

                <hr>

                <div class="text-center mb-3">
                    <a href="/Formulario" class="btn btn-primary">Crear cuenta nueva</a>
                </div>
            </form>
        </div>
    </div>
</main>






{% endblock %}