{% extends "base.html" %}

{% block contenidos %}



<main class="container-fluid my-5">
    <div class="row">
        <div class="col md-6 mx-auto">
            <div class="text-center mb-5">
                <h1 class="text-primary display-4 fw-bold">Facebook</h1>
                <h2 class="fs-5">Facebook te ayuda a comunicarte y compartir con las personas que forman parte de tu
                    vida.</h2>
            </div>
        </div>


        <div class="col md-6 mx-auto">
            <form action="/inicio" method="get">
                <div class="mb-3">
                    <input type="email" class="form-control" id="exampleInputEmail1" name="exampleInputEmail1"
                        placeholder="Correo electrónico o número de teléfono" required >
                </div>


                <div class="mb-3">
                    <input type="password" class="form-control" id="exampleInputPassword1" name="exampleInputPassword1" placeholder="Contraseña"
                        required>
                </div>
        



        <div class="text-center mb-3">
            <a href=""text type="submit" class="btn btn-success">Iniciar sesión</a>
        </div>

        <div class="text-center mb-3">
            <a href="#" class="text-decoration-none text-small">¿Olvidaste tu contraseña?</a>
        </div>

        <div class="text-center mb-3">
            <a href="/base" type="button" class="btn btn-success">Crear cuenta nueva</a>
        </div>
    </div>
    </div>
</main>


</main>



{% endblock %}